<ons-page ng-controller="InboxCtrl">
    <ons-toolbar>
        <div class="center"><span>ប្រអប់សំបុត្រ</spand></div>
        <!-- <div class="right">
            <ons-toolbar-button>
                <ons-icon icon="fa-pencil-square-o" fixed-width="false" style="vertical-align: -4px;"></ons-icon>
            </ons-toolbar-button>
        </div> -->
    </ons-toolbar>

    <div class="margin10 text-center" ng-show="login_status">
      <br/>
      បច្ចុប្បន្ន អ្នកមិនមានសារណាមួយនៅក្នុង <span class="color-vcess">Vcess</span> នៅឡើយទេ។
    </div>

    <div ng-show="!login_status" class="margin10 text-center">
        <img src="images/logos/Final_logo_green.png" class="logo-frame"/>
        <h4>សូមស្វាគមន៏មកកាន់ Vcess!</h3>
        <p>សូមចូលគណនីដើម្បីមើលទំព័រនេះ។</p>
        <ons-button modifier="large" ng-click="myNavigator.pushPage('pages/kh/login.html');">ចូលគណនី</ons-button>
        <ons-button class="button--large--quiet" ng-click="myNavigator.pushPage('pages/kh/signup.html');">ចុះឈ្មោះ</ons-button>
    </div>


    <!-- <div ng-show="login_status">
        <ons-list modifier="inset" style="margin-top: 10px">

        <ons-list-item ng-repeat="n in getRate(5) track by $index">
            <ons-row>
                <ons-col width="70px">
                    <div style="padding: 16px 0 0 5px;">
                        <img src="images/test/user.jpg" class="profile-image">
                    </div>
                </ons-col>

                <ons-col>
                    <div style="font-size: 12px; line-height: 20px; padding-top:20px; color: black">
                        KHOURN Khemry<br/>
                        khourn.khemry@gmail.com
                    </div>
                </ons-col>
                <ons-col>
                    <div style="position: absolute; right: 5px; top: 15px;">
                        <ons-toolbar-button>
                            <ons-icon icon="ion-android-settings" style="opacity: 0.8"></ons-icon>
                        </ons-toolbar-button>
                    </div>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    </div> -->
</ons-page>



