<ons-page ng-controller="NewsFeedCtrl">
    <div class="tab-bar tab-bar--top tab-bar--top-border">
        <label class="tab-bar__item tab-bar--top-border__item">
            <input type="radio" name="top-tab-bar-b" checked="checked">
            <button class="tab-bar__button tab-bar--top-border__button">
                <span>ដំណឹង</span>
            </button>
        </label>

        <label class="tab-bar__item tab-bar--top-border__item">
            <input type="radio" name="top-tab-bar-b">
            <button class="tab-bar__button tab-bar--top-border__button">
                <span>ការជូនដំណឹង</span>
            </button>
        </label>
    </div>

    <div class="margin10 text-center" ng-show="login_status">
        <div ng-show="checked">
            <br/>
            <p>បច្ចុប្បន្ន អ្នកមិនមានដំណឹងថ្មីណាមួយនៅក្នុង <span class="color-vcess">Vcess</span> នៅឡើយទេ។</p>
        </div>

        <div ng-hide="checked">
            <br/>
            <p>បច្ចុប្បន្ន អ្នកមិនមានការជូនដំណឹងណាមួយនៅក្នុង <span class="color-vcess">Vcess</span> នៅឡើយទេ។</p>
        </div>
    </div>

    <div ng-show="!login_status" class="margin10 text-center">
        <img src="images/logos/Final_logo_green.png" class="logo-frame"/>
        <h4>សូមស្វាគមន៏មកកាន់ Vcess!</h3>
        <p>សូមចូលគណនីដើម្បីមើលទំព័រនេះ។</p>
        <ons-button modifier="large" ng-click="myNavigator.pushPage('pages/kh/login.html');">ចូលគណនី</ons-button>
        <ons-button class="button--large--quiet" ng-click="myNavigator.pushPage('pages/kh/signup.html');">ចុះឈ្មោះ</ons-button>
    </div>
</ons-page>
