
<ons-page ng-controller="ProfileCtrl">
	<ons-toolbar>
	    <div class="center"><span>ទំព័ររបស់ខ្ញុំ</spand></div>
	</ons-toolbar>

	<div class="margin10 text-center">
		<div ng-show="!login_status" class="margin10 text-center">
	        <img src="images/logos/Final_logo_green.png" class="logo-frame"/>
	        <h4>សូមស្វាគមន៏មកកាន់ Vcess!</h3>
	        <p>សូមចូលគណនីដើម្បីមើលទំព័រនេះ។</p>
	        <ons-button modifier="large" ng-click="myNavigator.pushPage('pages/kh/login.html');">ចូលគណនី</ons-button>
	        <ons-button class="button--large--quiet" ng-click="myNavigator.pushPage('pages/kh/signup.html');">ចុះឈ្មោះ</ons-button>
	    </div>
	
		<div ng-show="login_status">  
			<ons-row>
		        <ons-col width="60px">
		          <img src="images/default_user.png" class="profile-image">
		        </ons-col>
		        <ons-col>
		          {{login_user['full_name']}}
		          <div class="opacity05 font-size-12">{{login_user['email']}}</div>
		        </ons-col>
		    </ons-row>
			
			<!-- <ons-button ng-show="is_business" modifier="large" ng-click="myNavigator.resetToPage('normal_index.html', {is_business: 0});">Switch to User</ons-button> -->

		    <ons-list modifier="inset" class="margin-10-0-10-0">

		    	<ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('pages/kh/business_list.html');">
		    	  <ons-icon icon="fa-btc" class="color-vcess"></ons-icon>
		          អាជីវកម្ម
		        </ons-list-item>
		        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('pages/kh/checkin_list.html');">
		          <ons-icon icon="ion-android-map" class="color-vcess"></ons-icon>
		          កន្លែងដែលធ្លាប់ទៅ
		        </ons-list-item>
		        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('pages/kh/friend_list.html');">
		          <ons-icon icon="ion-android-contacts" class="color-vcess"></ons-icon>	
		          មិត្តភក្តិ
		        </ons-list-item>
		        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('pages/kh/settings.html');">
		          <ons-icon icon="ion-android-settings" class="color-vcess"></ons-icon>
		          ការកំណត់
		        </ons-list-item>
		        <ons-list-item modifier="tappable" ng-click="Logout()">
		          <ons-icon icon="fa-sign-out" class="color-vcess"></ons-icon>
		          ចាកចេញ
		        </ons-list-item>

		    </ons-list>
		     
		</div>
	</div>
</ons-page>
