<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="angular-facebook"
  version="0.0.1">

    <name>Facebook with Angular</name>
    <description>Facebook with Angular</description>
    <author>TEST</author>
    <license>Apache 2.0 License</license>


</plugin>
